greenarea-service/src/main/resources/META-INF/wsdl/localhost_8080/SGRL/LogisticNetworkManagement.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservices.sgrl.greenarea.vige.it/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="LogisticNetworkManagement" targetNamespace="http://webservices.sgrl.greenarea.vige.it/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://webservices.sgrl.greenarea.vige.it/"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			targetNamespace="http://webservices.sgrl.greenarea.vige.it/">
			<xs:element name="download" type="tns:download" />
			<xs:element name="downloadResponse" type="tns:downloadResponse" />
			<xs:element name="upload" type="tns:upload" />
			<xs:element name="uploadResponse" type="tns:uploadResponse" />
			<xs:complexType name="download">
				<xs:sequence>
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="downloadResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="upload">
				<xs:sequence>
					<xs:element minOccurs="0" name="name" type="xs:string" />
					<xs:element minOccurs="0" name="xmlGraph" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="uploadResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="UnsupportedEncodingException" type="tns:UnsupportedEncodingException" />
			<xs:complexType name="UnsupportedEncodingException">
				<xs:sequence>
					<xs:element minOccurs="0" name="message" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="uploadResponse">
		<wsdl:part element="tns:uploadResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="downloadResponse">
		<wsdl:part element="tns:downloadResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="download">
		<wsdl:part element="tns:download" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UnsupportedEncodingException">
		<wsdl:part element="tns:UnsupportedEncodingException" name="UnsupportedEncodingException"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="upload">
		<wsdl:part element="tns:upload" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LogisticNetworkManagement">
		<wsdl:operation name="download">
			<wsdl:input message="tns:download" name="download"></wsdl:input>
			<wsdl:output message="tns:downloadResponse" name="downloadResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="upload">
			<wsdl:input message="tns:upload" name="upload"></wsdl:input>
			<wsdl:output message="tns:uploadResponse" name="uploadResponse"></wsdl:output>
			<wsdl:fault message="tns:UnsupportedEncodingException"
				name="UnsupportedEncodingException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LogisticNetworkManagementSoapBinding"
		type="tns:LogisticNetworkManagement">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="download">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="download">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="downloadResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="upload">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="upload">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="uploadResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnsupportedEncodingException">
				<soap:fault name="UnsupportedEncodingException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LogisticNetworkManagement">
		<wsdl:port binding="tns:LogisticNetworkManagementSoapBinding"
			name="LogisticNetworkManagementPort">
			<soap:address
				location="http://MacBook-Vige-wifi.local:8080/greenarea-sgr/LogisticNetworkManagement" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>